[Unit]
Description=Nabaztag boot script, initializing leds and motors

[Service]
Type=oneshot
User=root
WorkingDirectory=/opt/pynab
ExecStart=uv run python -m nabboot.nabboot start

[Install]
WantedBy=multi-user.target
